<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes for Albie</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src='../src/note.js'></script>
  </head>
    <body>
      <div id="albieTheRapper">
        <div id="margin"><h2 id="albieTitle">Write your notes for Albie here:</h2></div>
        <form id="paper">
          <textarea placeholder="NOTEY NOTE" id="albieText" name="text" rows="4"
            style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
          <br>
          <div class="albieButtonDiv">
          <a id="albieButton" value="Create">
            Create
          </a>
          </div>
        </form>
        <a id="albieList"></a>
        <ul id="albieFullList"></ul>
        <div id='toggleAlbieNote'>
          <h1 id='fullAlbieNote' ></h1>
          <h1>This is some hidden text</h1> 
        </div>

      </div>
      <canvas id="c"></canvas>
      <script src="../src/particles.js"></script>
      <script src='../src/interface.js'></script>
    </body>
</html>
