<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='../src/note.js'></script>
   
</head>
<body>
    THIS IS A TEST PAGE!!

    <form>
    <textarea rows="5" cols="50" name="Description" id="Albie's Playpen"></textarea> 
    <br>
    <button id='AlbieButton' type='submit'>Submit</button>
    </form>

<!-- 20 Character Area -->
<!-- Displaying all of the results from Note20 -->
<!-- For each, assign a link, that moves us down the area  -->


<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->



<script>
    // Loads up 
</script>
</body>
</html>