<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes for Albie</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src='../src/note.js'></script>
    <script>
      let noteApp;
        window.addEventListener('DOMContentLoaded', (event) => {
            noteApp = new NoteApp();
        });
    </script>

</head>
<body>

  <div id="albieTheRapper">
    <div id="margin"><h2 id="title">Write your notes for Albie here:</h2></div>

    <form id="paper">

      <textarea placeholder="notey note" id="albieText" name="text" rows="4"
        style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
      <br>
      <input id="albieButton" value="Create">

    <!-- <button id='AlbieButton' type='submit'>Submit</button> -->
    </form>

<!-- 20 Character Area -->
<!-- Displaying all of the results from Note20 -->
<!-- For each, assign a link, that moves us down the area  -->


<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->
<!-- Individual Full Note Text -->



</div>
<script>

  var btn = document.getElementById("albieButton");
    btn.addEventListener("click", createNote);
    function createNote() {
      noteApp.create(document.getElementById("albieText").value);
      console.log()
      console.log(noteApp);
      console.log("the array of dreams: " + noteApp.noteArray);
    }

</script>
</body>

</html>