* {
  outline:none;
	border:none;
	margin:0px;
	padding:0px;
  font-family:Courier, monospace;
  background-color: transparent;
}
body {
}
#paper {
	color:#FFF;
	font-size:20px;
}
#margin {
	margin-left:12px;
	margin-bottom:20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#albieText {
	width:500px;
  position: relative;
	overflow:hidden;
	background-color:#FFF;
	color:#222;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:24px;
	resize:none;
	line-height:40px;
	padding-left:100px;
	padding-right:100px;
	padding-top:45px;
  top: 80px;
	padding-bottom:34px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
  z-index: 2;
}
#albieTitle {
  position: relative;
  top: 50px;
	background-color:transparent;
  text-align: center;
	color:#FFF;
	font-size:2rem;
	font-family:Courier, monospace;
	height:28px;
	font-weight:normal;
}
/* for the glowing button */
#albieButton
{
  position: relative;
/* margin: auto; */
 top: 100px;
 left: 250px;

  display: inline-block;
  padding: 15px 30px;
  /* color: #2196f3; */
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  z-index: 2;
}

.albieButtonDiv {
  margin: auto;

}
/* for the button hover glow */
#albieButton:hover
{
  box-shadow: 0 0 10px #FFF, 0 0 40px #FFF, 0 0 80px #FFF;
}

#albieTheRapper {
	width:700px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:24px;
	margin-bottom:100px;
}
.albieList {
  position: relative;
  top: 100px;
}

.albie20List {
  color: white;
  position: relative;
  top: 80px;
  z-index: 2;
}

.albieFullList {
	color: white;
	position: relative;
	top: 300px;
}

#c {
	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
  background-color: transparent;
  z-index: 1;
}

#toggleAlbieNote {
	visibility: hidden;
}

#fullAlbieNote {
  width:500px;
  position: relative;
  overflow:hidden;
  background-color:#FFF;
  color:#222;
  font-family:Courier, monospace;
  font-weight:normal;
  font-size:24px;
  resize:none;
  line-height:40px;
  padding-left:100px;
  padding-right:100px;
  padding-top:45px;
  top: 80px;
  padding-bottom:34px;
  background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat:repeat-y, repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
  z-index: 2;
}

#toggleAlbieNoteVisible
